// varaiable
$navbar-fixed-height: 64px;
$side-bar-width: 200px;

// position
.fixed-top {
    top: 0;
}

// navbar
.navbar-white {
    background-color: #FFF;
    border: 0;
    margin-bottom: 0;
    //border-bottom: 1px solid #e6e5e5;
    border-bottom: 3px solid #ff6000;
    padding: 0;
    min-height: $navbar-fixed-height;
}

.navbar-container {
    flex-wrap: nowrap;
    padding: 0;

    &-left {
        display: flex;
        width: $side-bar-width;

        & img {
            margin: 6px 20px;
        }
    }
}

// body
.app-body {
    background-color: #eee;
}

.sidebar {
    height: 100%;
    margin-top: $navbar-fixed-height;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 1029;
    background-color: #f5f5f5;
    width: 200px;
    border-right: 1px solid #e3e3e3;

    &-left {
        left: 0;
    }

    &-wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: 100%;
    }

    &-elements {
        margin: 0;
        padding: 0;

        &-divider {
            padding: 20px 20px 0;
            color: #b0b0b0;
            line-height: 30px;
            font-weight: 600;
            text-transform: uppercase;
            font-size: 12px;
        }

        & li {
            list-style: none;

            :hover {
                background-color: #eee;
            }

            & .active {
                color: #ff6000;
            }

            & .inactive {
                color: #646464;
            }
        }

        &-a {
            display: block;
            padding: 0 20px;
            font-size: 14px;
            line-height: 38px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;

            &:hover {
                text-decoration: none;
                box-sizing: border-box;
            }
        }

        &-icon {
            font-size: 14px;
            min-width: 20px;
            margin-right: 9px;
            text-align: center;
            vertical-align: middle;
            display: inline-block;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
        }
    }
}

.content {
    position: relative;
    left: 0;
    min-height: 100%;

    &-inner {
        padding: 25px;
        width: 100%;
    }

    &-right {
        margin-left: $side-bar-width;
    }

    &-widget {
        padding: 20px 20px;
        margin-bottom: 20px;
        display: table;
        table-layout: fixed;
        width: 100%;
        background-color: #FFF;
        border-radius: 3px;
    }
}